.fullscreen {
    height: 100vh;
    width: 100vw;
    position:fixed;
    top:0;
    left:0;
}
.gamecontainer{
    height: 100vh !important;
    width: 100vw !important;
    position:fixed;
    top:0;
    left:0;
}